EXPO_PUBLIC_FARM_WEB_URL=https://3d72f62e66a26bed-5-30-201-24.serveousercontent.com/login
# Serveo free tunnel URL - keep the tunnel running
# Previous ngrok: # EXPO_PUBLIC_FARM_WEB_URL=http://multiply-prompt-sparrow.ngrok-free.app/login
# Local: # EXPO_PUBLIC_FARM_WEB_URL=http://192.168.1.100:5000/login


# ngrok http --url=multiply-prompt-sparrow.ngrok-free.app 5000